:root{
    --main-color:#6A983C;
    --heading-color:#151515;
    --text-color:#575757;
    --light-black-color:#A9A9A9;
    --bg-color:#F9F9F9;
    --button-bg-light-grey-color:#F5F5F5;
}
/* poppins-regular - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/poppins-v15-latin-regular.woff") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/poppins-v15-latin-regular.woff") format("woff");
         font-display: swap; /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/poppins-v15-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/poppins-v15-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/poppins-v15-latin-600.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/poppins-v15-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* open-sans-regular - latin */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/open-sans-v20-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/open-sans-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-600 - latin */
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/open-sans-v20-latin-600.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/open-sans-v20-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Arial", sans-serif;
}
ul{
    margin: 0;
    padding: 0;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
}
.btn{
    outline: none;
    border: none;
    background: transparent;
   }
.site-header {
    margin-top: 16px;
}
.header--mini-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid #F9F9F9;
   
}
.communication-link {
    text-decoration: none;
    color: var(--head-color);
    margin-right: 33px;
    font-family: "Open Sans" , "Arial" , sans-serif;
    font-size: 12px;
    line-height: 16px;
}
.communication-link:not(:last-child){
    margin-right: 33px;
    
}
.burger{
    display: none;
}
.chat {
    color: var(--main-color);
}
.site-nav-list {
    display: flex;
}
.nav-list-item {
    margin-right: 38px;
    list-style-type: none;
}
.last-nav-item{
    margin-right: 0px;
}
.nav-list-link {
    text-decoration: none;
    color: var(--main-color);
    font-family: "Open Sans" , "Arial" , sans-serif;
    font-size: 12px;
    line-height: 16px;
}
.tools{
    margin-top: 51px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
option{
    border: none;
    padding: 0;
}
.option-category{
    font-weight: bold;
}
select{
    border: none;
    background-color: transparent;
    font-weight: bold;
    padding: 0;
    margin-bottom: 0;
    margin-right: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    position: relative;
}
select::after{
    content: "";
    background-image: url("../images/arrow-bottom.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 6px;
    height: 3px;
    position: absolute;
    display: inline-block;
    top: 100px;

}
.search{
    width: 500px;
    display: flex;
    align-items: center;
    background: #F9F9F9;
    border: 1px solid #d1d1d1;
    border-radius: 12px;
    
}
.search-input{
    border: none;
    font-size: 14px;
    width: 262px;
    background-color: transparent;
}
::-moz-placeholder{
    font-size: 14px;
}
.search-button{
    background-color: transparent;
    outline: none;
    border: none;
    background-image: url("../images/search-icon.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 13px;
}
.categories-mobile{
    display: none;
}
.nav-user-tools{
    display: none;
}
.user-tools{
    display: flex;
    align-items: center;
}
.header-menu{
    background-color: var(--bg-color);
    font-family: "Poppins" , "Arial" , sans-serif;
    font-weight:500;
    padding-top: 16px;
    padding-bottom: 16px;
}
.menu-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.menu-item{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 0;
  }
.menu-link{
      display: flex;
      align-items: center;
      white-space: nowrap;
      text-decoration: none;
      margin-top: 0; 
}
.menu-item::after{
    content: "";
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    margin-left: 2px;
    background-size: contain;
    background-image: url("../images/arrow-bottom.svg");
    transition: 0.3s ease;
}
.dropdown{
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
  list-style-type: none;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  padding: 15px;
  white-space: nowrap;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 #f2f2f2;
}

.menu-item:hover .dropdown{
  display: block;
}
.menu-item:hover .menu-link{
  color: var(--main-color);
}
.dropdown-link{
    color: var(--text-color);
    text-decoration: none;
}
.dropdown-item:hover .dropdown-link{
    color: var(--main-color);
} 
.menu-link{
  color: var(--heading-color);
}
.menu-item:not(:last-child){
   margin-right: 43px;
}
.burger{
    display: none;
}
.footer-top-section{
    display: flex;
    justify-content: space-between ;
    margin-bottom: 48px;
}
.footer-top-section__title{
    color: #151515;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.top-section-list__item{
    list-style-type: none;
    margin-bottom: 16px;
}
.top-section-list__link{
    color: var(--main-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
}
.bottom-section-list{
    list-style: none; 
    display: flex;
    flex-wrap: wrap;
}
.bottom-section-list__item{
    background-color:#F5F5F5;
    padding: 5px 7px;
    margin: 16px;
    border-radius: 9px;
}
.bottom-section-link{
    text-decoration: none;
    color:#151515;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}
/**Main-section**/
.category-banners{
    display: flex;
}
.main-menu-list{
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}
.home-banners{
    display: flex;
}
.menu-list-title{

}
.menu-list-item{
    list-style: none;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 5px;
}
.menu-list-link{
    color: var(--main-color );
    
    font-family: "Open-sans" ,"Arial" , sans-serif;
}
.banner{
margin-right: 32px;
 width: 419px;
 height: 280px;
 background-image: url("../images/vegs-banner.png");
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
}
.banner-title-focus{

}
.banner-title{

}
.banner-link{

}
@media only screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    header{
        overflow-x: hidden;
    }
   .container{
       width: 100%;
       padding: 0 15px;
       overflow-x: hidden;
   }
   .header--mini-container{
       display: flex;
       justify-content: flex-start;
   }

  .tools{
      display: flex;
      justify-content: flex-start;
      align-items: center;

  }
  .search{
      width: 400px;
  }
  .site-logo{
      margin-right: 6px;
  }
  .menu-list{
      display: flex;
      justify-content: center;
  }
  .menu-item{
      margin-bottom: 5px;
  }
  .menu-item:hover , :active .dropdown{
    display: block;
    padding: 10px;
  }
}
@media only screen and (max-width: 610px){
    .header--mini-container{
        width: 610px;
    }
    .site-nav{
        display: flex;
        justify-content: space-between;
    }
    .site-nav-list{
       margin-left: auto;
       width: 370px;
    }
    .communication{
        display: none;
    }
    .user-tools{
        display: none;
    }
    .nav-user-tools{
       display: block;
       width: 100px;
       margin-left: auto;
    }
    .site-footer{
        overflow-x: hidden;
    }
    .container{
        width: 100%;
        padding: 0 15px;
    }
    .footer-top-section{
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        }
    .footer-top-section__title{
        font-size: 14px;
    }
}

@media only screen and (max-width: 375px){
    body{
        width: 375px;
        overflow-x: hidden!important;
    }
    .home-main{
        overflow-x: hidden;
    }
    .container{
        width: 100%;
        padding: 0 15px;
    }
    .communication{
        display: none;
    }
    .search{
        display: flex;
    }
    .products-category{
        display: flex;
        flex-grow: 1;
    }
    .tools{
        display: flex;
        flex-direction: column;
    }
    .header-menu{
        display: none;
    }
    .user-tools{
        order: -2;
        position: relative;
        right: -100px;
    }
    .site-logo{
        order: -2;
    }
    .menu-list{
      display: none;
    }
    .site-footer{
        overflow-x: hidden;
    }
    .container{
        width: 100%;
    }
    .search{
        display: none;
    }
    .mobile-form{
        display: inline-block;
        align-items: center;
        background: #F9F9F9;
        border: 1px solid #d1d1d1;
        border-radius: 12px;
    }
    .category-banners{
        display: flex;
        flex-direction: column;
        min-height: 10vh;
    }
    .main-menu-list{
       position: absolute;
       right: 0px;
       height: 92vh;
       top: 8vh;
       background: var(--main-color);
       color: #F9F9F9;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 60%;
       transform: translateX(100%);
    }
    .menu-list-item{
        list-style: none;

    }
    .menu-list-link{
        color: #F9F9F9;
        text-decoration: none;
        font-weight: bold;
    }
    .menu-list-link:hover{
        text-decoration: underline;
    }
    .burger{
        display: block;
    }
    .burger div{
        width: 30px;
        height: 2px;
        background-color: var(--main-color);
        margin: 5px;
    }

    .footer-top-section{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    }
    .footer-top-section__title{
    font-size: 14px;
}
   .first-list{
    margin-right: 25px;
}

}


